<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scanner</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="htmx.min.js"></script>
    <script src="bootstrap.bundle.min.js"></script>
    <script src="script.js"></script>

    <link rel="icon" href="favicon.png" type="image/png">
</head>

<body>
    <main>
        <div class="body">
            <canvas id="preview-canvas" class="preview-canvas" width="500" height="500"></canvas>
            <div class="container">
                <form>
                    <h1>Scanner</h1>
                    <div class="input">
                        <div class="input-group mb-3">
                            <input id="pdf" name="filename" class="form-control" placeholder="Output PDF filename">
                            <button id="combine" title="Combine" class="btn btn-primary" hx-post="/combine" hx-target="#result">📚</button>
                            <button class="btn btn-secondary btn-sm" hx-post="/reverseOrder" hx-target="#result">⇄</button>
                        </div>
                    </div>
                    <div class="output" id="result">
                        {{ range .Paths }}
                        {{ template "preview" . }}
                        {{ end }}
                    </div>
                </form>
            </div>


            <div class="errorBar d-flex flex-column align-items-stretch flex-shrink-0" style="width: 380px;">
                <div id="errors" class="list-group list-group-flush scrollarea">
                    
                </div>
            </div>
        </div>
    </main>
</body>

</html>