.preview-item {
    width: 15rem;
    height: 25rem;
    position: relative;
    margin: 0.5rem;
}

.preview-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.output {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.preview-header {
    display: flex;
    justify-content: end;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 3px;
}

.preview-header button {
    color: white;
}